
.App {
    display: flex;
    height: 95vh;
    width: 100%;
}

.homePage {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
  }

.cardsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    margin: 10px;
    max-width: 900px;
    align-self: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 170px;
    margin: 5px;
    padding: 5px;
    user-select: none;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #a2cdb0;
    cursor: pointer;
    &:hover {
      border: 2px solid #85a389;
      background-color: #a2cdb0;
    }
}
.card p {
    font-size: smaller;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.imageContainer img {
    max-height: 120px;
    max-width: 140px;
    border-radius: 5px;
    border: 1px solid black;
}

.paginationComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}